/* GENERAL
------------------ */
* {
  
    box-sizing: border-box;
  }

html {
  height: 100%;
  width: 100%;
}

  body {
    font-family: 'Handlee', cursive;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    min-height: 100vh;
    /* background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: screen;
    max-width: 100%;
    background-color: rgb(255, 210, 216);
    background-blend-mode: color-dodge; */
    background-image: url(/images/background.jpg) ;
  
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;




  }



 h2 {
   text-align: center;
   font-size: 36px;
   font-weight: bolder;
   letter-spacing: 2px;
   text-decoration: underline;
   text-decoration-style: double;
   text-decoration-color: rgb(80, 78, 78);
 }
/* CONTAINER 
-------------------- */

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;

  }
   
.wrapper > * {
    padding: 20px;
  }
   
.main {
    flex-grow: 1;
  }

/* HEADER 
---------------------- */
.nav {
  /* overflow: hidden; */
  background-color: black;
  position: sticky;
  z-index: 1; 
  top: 0; 
  left: 0;
}

.nav a {
  float: left;
  /* color: blue; */
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 24px;
  color: aqua;
}



.nav a:hover {
  background-color:rgb(231, 75, 96);
  color: rgb(146, 218, 170);
  border-radius: 15%;
}

.nav a:active {
  background-color: rgb(231, 75, 96);
  color: rgb(146, 218, 170);
  border-radius: 15%;
}

/* ----------------- */

/* ul.nav li a:hover:not(.active) {background-color: #111;}
ul.nav li a.active {background-color: #4CAF50;} */


ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}
li {
  float: left;
}


/* 
BODY - ABOUT ME 
------------------ */
/* .main {
  display: flex;
  flex-direction: column;
  background-image: url(/images/background.jpg) ;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: auto;
} */

/* .home {
  background-color: black;
  font-weight: 50px;
  color: aqua;
}  
  */

.home {
  display: flex;
  justify-content: center;
  /* border: 1px solid  rebeccapurple; */
  text-align: center;
  justify-content: center;
  flex-direction: column;
  font-size:2vw;
  margin-top: 30px;
  font-size: 25px;
  font-weight: bolder;
  letter-spacing: 3px;
  
}

/* .h1-home {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  flex-direction: column;

  margin-top: 30px;
  font-size: 30px;
  font-weight: bolder;
  letter-spacing: 3px;
  
} */
/* ABOUT ME */


 @import url(https://fonts.googleapis.com/css?family=Khula:700);

.hidden {
  opacity:0;
}
.console-container {
  font-family:Khula;
  font-size: 50px;
  justify-content: center;
  text-align:center;
  /* height:200px;
  width:800px; */
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* position:absolute; */
  color:black;
  /* top:30px;
  bottom:30px;
  left:0;
  right:0;
  margin:auto; */
}


.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}

@media screen and (min-width: 320px) {
  .console-container {
    font-size: calc(30px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  .console-container {
    font-size: 50px;
  }
}  


.image-box {
  display: flex;
  justify-content: center;
}

.profile-image {
  display: flex;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: auto; 
  width: auto; 
  max-width: 100%; 
  max-height: 300px;
  align-items: center;
}  

.profile-image:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}


/* ABOUT ME */



.about-me-container {

  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  color: #000000;
  justify-content: center;
  font-family: 'Handlee', cursive;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}


.about-me {
 
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  background: white;
  opacity: 0.8;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 800px;
  color: #000000;
  padding-left: 15px;
  padding-right: 15px;



}


  

/* SKILLS
------------------- */

.skill-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0px;
  padding: 1rem;
  /* background-image: url(/images/blue-universe-956981.jpg);
  background-size: contain; */
  /* background-color: #2B4764; */
}



.skill-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* display: flex;
  flex-direction: wrap; */
  /* flex-wrap: wrap; */
  background-color: rgb(55, 175, 175);
  /* background-image: url(/images/grayscale-photo-of-computer-laptop-near-white-notebook-and-169573.jpg);
  background-size: contain;
  background-repeat: no-repeat; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 800px;
  margin: auto;
  text-align: center;
  border-radius: 15px;
  padding-bottom: 20px;
  
}

.icon-box {
  background-color: honeydew;
  border-radius: 30%;
  /* padding-left: 27px;
  padding-right: 27px; */
  padding-top: 10px;
  padding-bottom: 3px;
  text-align: center;
  margin: 20px;
  width: 100px;
  height: 100px;  
}

.text {
  font-size: 14px;

}
.icon-box:hover {
  color: rgb(182, 18, 130);

}

.skill-text {
  font-size: 20px;
  font-family: 'Handlee', cursive;

  /* font-family: 'Josefin Sans', sans-serif; */
}


/* PROJECTS */

.projects {
  display: flex;
  flex-direction: column;
  /* background-color: rgb(96, 99, 99); */
  /* padding-top: 50px;
  padding-bottom: 50px; */


}

.projects-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  flex-wrap: wrap;
  margin: 0px;
  padding: 1rem;
  background-color: rgb(212, 255, 241);
  /* opacity: 0.9; */
  margin: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 800px;
  margin: auto;
  border-radius: 15px;
  padding-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
  font-family: 'Handlee', cursive;
  font-weight: bolder;

  /* font-family: 'Josefin Sans', sans-serif; */

}


.projects-preview {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  height: 100%;
  width: 100%;
}

.projects-button-adopt {
  background-color:rgb(9, 52, 33);
  border: none;
  color: rgb(251, 239, 91);
  padding: 10px 29px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 15px;
  border-radius: 20px;
}

.projects-button-adopt:hover {
  background-color: rgb(203, 237, 208);
  color: black;
}

.projects-button-furever {
  background-color: #18e4e4;
  border: none;
  color: rgb(68, 68, 63);
  padding: 10px 29px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 15px;
  border-radius: 20px;
}

.projects-button-furever:hover {
  background-color: rgb(176, 255, 244);
  color: black;
}

/* CONTACT
---------------- */

.contact-container {
  display: flex;
  justify-content: center;

}


.contact-me {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  max-width: 800px;
  font-size: 20px;
  background-color: rgba(248, 231, 239, 0.904);
  max-width: 800px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Handlee', cursive;
  font-weight: bolder;

}

.form-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  justify-content: center;
  flex-direction: column;
  max-width: 800px;
  font-family: 'Handlee', cursive;



}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 15px; /* Rounded borders */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Styling the submit button*/
input[type=submit] {
  background-color: black;
  color: rgb(35, 224, 196);
  padding: 12px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, a color */
input[type=submit]:hover {
  background-color: rgb(231, 75, 96);
  color: rgb(146, 218, 170);
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 15px;
  background-color: #f2f2f2;
  padding: 20px;
}


.icon-box {
  justify-content: space-around;
  margin-left: 25px;
  margin-right: 25px;
}

/* 
FOOTER 
------------------ */
/* .contact-icons {
  justify-content: space-around;
  margin-right: 20px;
  align-items: right;
} */

.footer-menu {
    display: flex;
    flex-direction: column-reverse;
    background: var(--main-white-color);
    border-top: 1px solid rgb(3, 38, 46);
    justify-content: space-around;
    vertical-align: middle;
    color: aqua;
    background-color:black;
    
  }
  
  .footer-menu ul {
    display: flex;
    font-size: 1.5rem;
    margin-bottom: 5px;
    
  }
  
  .footer-menu ul li:not(:last-child) {
    margin-right: 20px;
    align-items: right;
    
  }




/* MEDIA QUERIES  
------------------------- */

  



@media screen and (max-width: 500px) {
  /* .body {
    background-image: url(/images/adopt-and-chill.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  } */
  .page-header a {
    float: none;
    display: block;
  }
}


  @media screen and (min-width: 550px) {
    .footer-menu{
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
   
    .footer-menu ul {
      margin-bottom: 0;
    }
  }




 

  @media screen and (min-width: 320px) {
    .home {
      font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
  }
  @media screen and (min-width: 1000px) {
    .home {
      font-size: 28px;
    }
  }  
  @media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;
    } 
    }

/* Extra small devices (phones, 600px and down)
/* @media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */  

